@import "../../node_modules/bootstrap/scss/bootstrap";


$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

$custom-colors: (
  "custom-color": #008b8b
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "black":      $black,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);